<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>


<!-- Display current user username -->
<div class="username-container">
  <span class="username">
    <%= username %>
    <br>
    <!-- Display Streak -->
    <span class="streak"> <% if (streak > 0) { %>Current Streak: <%= streak %><% } else { %>No current streak<% } %></span>
</span>
</div>

<!-- Display quiz completion message -->
<h1>Quiz Completed!</h1>

<!-- Display quiz results -->
<p>You got <%= questionsSuccessful %> out of <%= questionsCompleted %> correct</p>
<p>Your highest streak: <%= highestStreak %></p>

<!-- Start new quiz button -->
<button class="comic-button" onclick="location.href='/quiz';">
Start New Quiz
</button>

<!-- Return to Home Page button -->
<button class="comic-button" onclick="location.href='/';">
Return to Home Page
</button>
