<%- include('partials/header') %>

<h1>Quiz Completed!</h1>
<p>You got <%= questionsSuccessful%> out of <%= questionsCompleted%> correct</p>
<p>Your current streak: <%= streak %></p>
<p>Your highest streak: <%= highestStreak %></p>



<a href="/quiz">Start New Quiz</a>
<a href="/">Return to Home Page</a>

