<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>

<h1>Math Quiz</h1>
<div class="back-button-container">
    <a href="/" class="back-button">Back to Home</a>
</div>

<!-- Display Streak -->
<p class="streak">Current Streak: <%= streak %> </p>

<!-- Quiz Section -->
<p>Question <%= questionsCompleted %> of <%= numQuestions %></p>
<p>Answer the question below:</p>
<form action="/quiz" method="POST">
    <p class="question">Question: <%= question %></p>
    <!-- User Answer Input -->
    <label for="answer">Your Answer:</label>
    <input type="text" id="answer" name="answer" required>
    <input type="hidden" id="difficulty" name="difficulty" value="<%= difficulty %>">
    <!-- Submit Button -->
    <button type="submit">Submit</button>
</form>

  <!-- Display the prompt if it exists -->
  <% if (typeof prompt !== 'undefined' && prompt !== '') { %>
    <p><%= prompt %></p>
<% } %>
<p>Difficulty Level: <%= difficulty %></p>


</body>
</html>
