<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>

  <!-- Back Button with Confirmation and Reset Logic -->
  <div class="back-button-container">
    <a href="/?reset=true" class="back-button"
      onclick="return confirm('Are you sure you want to go back? You will lose your current quiz progress, but not your streak.');">
      Back to Home
    </a>
  </div>

         <!-- Display current user username -->
         <div class="username-container">
          <span class="username">
            <%= username %>
            <br>
            <!-- Display Streak -->
        <span class="streak">Current Streak: <%= streak %>
        </span>
          </span>
          </div>

  <!-- Quiz Section -->
  <h1>Math Quiz</h1>
  <p>Question <%= questionsCompleted + 1 %> of <%= numQuestions %>
  </p>
  <p>Answer the question below:</p>

  <form action="/quiz" method="POST">
    <p class="question">Question: <%= question %>
    </p>
    <!-- User Answer Input -->
    <label for="answer">Your Answer:</label>
    <input type="text" id="answer" autocomplete="off" name="answer" required>
    <input type="hidden" id="difficulty" name="difficulty" value="<%= difficulty %>">
    <!-- Submit Button -->
    <button type="submit">Submit</button>
  </form>

  <!-- Display the prompt if it exists -->
  <% if (typeof prompt !=='undefined' && prompt !=='' ) { %>
    <p>
      <%= prompt %>
    </p>
    <% } %>
      <p>Difficulty Level: <%= difficulty %>
      </p>
      </body>
      </html>